/* general styles
-------------------------------------------------- */
@media(min-width: 980px) {
  body {
    padding-top: 0;
  }
}
body.front {
	background: url(/sites/all/themes/cet/img/front-body-bg.png) repeat-x center 0;
}
body {
	background: url(/sites/all/themes/cet/img/body-bg.png) repeat-x center 0;
	font-family: 'Gentium Basic', serif;
	font-size: 13px;
	line-height: 18px;
}
h1,
.page-header {
	font-family: 'IM Fell English', serif;
	font-size: 26px;
	font-weight: normal;
	color: #045c87;
	line-height: 30px;
	border:none;
	margin: 10px 0 9px;
	padding: 0;
}
h1 a,
h1 a:hover {
	color: #045c87;
	text-decoration: none;
}
h2 {
	font-family: 'Gentium Basic', serif;
	font-size: 19px;
	font-weight: normal;
	line-height: 26px;
	color: #000;
}
h2 a,
h2 a:hover {
	color: #000;
	text-decoration: none;
}
h3 {
	font-family: 'Gentium Basic', serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	color: #045c87;
}
h3 a,
h3 a:hover {
	color: #045c87;
	text-decoration: none;
}
h4 {
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	color: #045c87;
}
h4 a,
h4 a:hover {
	color: #045c87;
	text-decoration: none;
}
h5 {
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 16px;
	color: #000;
}
h5 a,
h5 a:hover {
	color: #000;
	text-decoration: none;
}
.btn {
	min-width: 80px;
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #fff;
	letter-spacing: 0.5px;
	background: #048ea4;
	padding: 2px 10px;
	border: none;
	text-shadow: none;
  	-webkit-border-radius: 6px;
       -moz-border-radius: 6px;
          	border-radius: 6px;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}
.btn:hover {
	background: #00505a;
	color: #fff;
}

/* misc styles */
.intro,
.intro * {
	font-size: 14px;
}

/* top banner section layout
-------------------------------------------------- */
.front .clouds {
	height: 62px;
}
.clouds {
	position: relative;
	background: url(/sites/all/themes/cet/img/banner-clouds-repeat.png) repeat-x center bottom;
	height: 43px;
	width: 100%;
	min-width: 940px;
	z-index: 100;
}
.front .site-header {
	height: 126px;
	background-image: url(/sites/all/themes/cet/img/front-bee.png);
}
.site-header {
	position: relative;
	height: 107px;
	padding: 15px 0 0;
	margin: -15px 0 0;
	border: none;
	background: url(/sites/all/themes/cet/img/bee.png) no-repeat 644px 0;
}
.front .site-header .site-name {
	left: 19px;
	top: 26px;
	width: 611px;
	height: 93px;
	background-image: url(/sites/all/themes/cet/img/front-site-name.png);
}
.site-header .site-name {
	position: absolute;
	left: 40px;
	top: 15px;
	width: 565px;
	height: 78px;
	text-indent: -9000px;
	overflow: hidden;
	background: url(/sites/all/themes/cet/img/site-name.png) no-repeat 0 0;
}
.site-header .site-name a {
	width: 100%;
	height: 100%;
	display: block;
}
.site-header .cet-logo {
	position: absolute;
	top: 67px;
	right: 30px;
}
.site-header .region-header .block-title {
	display: none;
}
#block-menu-menu-top-right-logged-in,
#block-menu-menu-top-right {
	clear: both;
	float:right;
	margin-right: 16px;		
}
.not-logged-in #block-menu-menu-top-right {
	margin-right: 23px;
	padding-top: 25px;
}

.site-header .region-header .nav li {
	display: inline-block;
	float: left;
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.5px;	
	line-height: 1;
	border-right: 1px solid #fff;
	padding: 0 10px;
}
#block-ros-extra-rosextra {
	float: right;
	color: #fff;	
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.5px;
	line-height: 1;
	padding-bottom: 6px;
	padding-top: 7px;
	margin-right: 16px;	
}
.site-header .region-header .nav li.last {
	border: none;
	padding-right: 0;
}
.site-header .region-header .nav li a {
	color: #fff;
}
.site-header .region-header .nav li a:hover {
	background: none;
	color: #fff;
	text-decoration: underline;
}

/* site navigation
-------------------------------------------------- */
.navbar {
	*position: static;
}
.navbar .navbar-inner {
	display: block;
	min-height: 28px;
	padding: 0;
	background: #048ea5;
	border: none;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	filter: none;
	*zoom: 1;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.navbar .nav {
	margin: 0;
	float: none;
}
.navbar .nav li {
	border-left: 1px solid #045c87;
	border-right: 1px solid #045c87;
}
.navbar .nav > li.first > a {
	padding: 5px 18px;
}
.navbar .nav > li > a {
	background: #048ea5;
	color: #fff;
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-shadow: none;
	text-align: center;
	letter-spacing: 0.5px;
	display: block;
	padding: 5px 14px;
}
.navbar .nav li.first {
	border-left: none;
}
.navbar .nav li.last {
	border-right: 2px solid #045c87;
}
.navbar .nav li a.active,
.navbar .nav li a.active:hover {
	background: #00505a;
}
.navbar .nav li a:hover {
	background: #00785a;
	color: #fff;
}

/* breadcrumb navigation
-------------------------------------------------- */
.breadcrumb {
	color: #fff;
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 10px;
	padding: 0;
	background: none;
	border: none;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	filter: none;
	*zoom: 1;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.breadcrumb > li {
	text-shadow: none;
}
.breadcrumb a {
	text-decoration: underline;
	color: #fff;
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 10px;
}
.breadcrumb a:hover {
	text-decoration: none;
}
.breadcrumb > li > .divider {
	color: #fff;
}

/* front page
-------------------------------------------------- */

.logged-in .node-front-page-video {
	margin-top: 20px;
}
.node-front-page-video .field-name-field-frontvideo {
	padding-bottom: 10px;
}
.node-front-page-video .field-name-field-description {
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #045c87
}
.node-front-page-video .field-name-field-file-path * {
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #00785a
}
#block-user-login {
	padding: 9px 11px;
	background: #00505a;
  	-webkit-border-radius: 6px;
       -moz-border-radius: 6px;
          	border-radius: 6px;
  	-webkit-box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.6);
       -moz-box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.6);
          	box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.6);
    overflow: hidden;
    margin-bottom: 25px;
}
#block-user-login .block-title {
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	line-height: 18px;
	letter-spacing: 0.5px;	
	padding-left: 11px;
	margin: 0 0 9px;
}
#block-user-login .controls input {
  	-webkit-border-radius: 0;
       -moz-border-radius: 0;
          	border-radius: 0;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
    border: 1px solid #004048;
    width: 196px;
    padding: 2px 10px;
    margin: 0;
}
#block-user-login .compact-form-label {
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #b8b8b8;
	line-height: 18px;
	top: 4px;
	left: 11px;
}
#block-user-login .control-group {
	margin-bottom: 9px;
}
#block-user-login ul {
	margin: 0 0 0 11px;
	float: left;
	list-style: none;
}
#block-user-login ul a {
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 0.5px;
	color: #fff;
}
#block-user-login .btn {
	float: right;
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #fff;
	letter-spacing: 0.5px;
	background: #048ea4;
	padding: 2px 39px;
	border: none;
	text-shadow: none;
  	-webkit-border-radius: 6px;
       -moz-border-radius: 6px;
          	border-radius: 6px;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}
.front .sidebar-second {
	margin: 0;
	width: 240px;
}
.front .sidebar-second .video-js {
	background: #fff;
	border: 1px solid #428699;
	border-top-color: #8db4c0;
	border-right-color: #4a919e;
	border-bottom-color: #5392a6;
  	-webkit-box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.6);
       -moz-box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.6);
          	box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.6);
}
.view-frontpage .node-front-page-text h2 {
	margin-bottom: 12px;
}
.view-frontpage .node-front-page-text h2,
.view-frontpage .node-front-page-text h2 * {
	font-family: 'IM Fell English', serif;
	font-size: 36px;
	line-height: 1;
	color: #fff;
	width: 220px;
}
.view-frontpage .field-name-field-frontpagebody {
	width: 220px;
	font-size: 14px;
	float: left;
	padding-bottom: 20px;
}
.view-frontpage form {
	padding: 6px 28px;
	float: right;
	margin-bottom: 0;
}
.view-frontpage .field-name-field-frontpagebody,
.view-frontpage .field-name-field-frontpageimage {
	float: left;
}
.view-frontpage .button_field {
	float: right;
}
	/*video*/
.vjs-default-skin div.vjs-big-play-button > span {
	background-position: 0 0;
	width: 16px;
	height: 16px;
	margin: 0;
	left: 36%;
	top: 26%; 
}	
.vjs-default-skin .vjs-big-play-button {
	height: 3em;
	width: 4em;
	top: auto;
	left: 10px;
	bottom: 10px;
	margin: 0;
	  -webkit-border-radius: 10px;
	     -moz-border-radius: 10px;
	          border-radius: 10px;
}
/* views
-------------------------------------------------- */

/* whats-in-resource */
.page-whats-in-resource .main-content {
	background: url(/sites/all/themes/cet/img/content-bg-figure-combo-3-left.png) no-repeat 0 0;
}
.page-whats-in-resource .main-content .main-inner {
	background: url(/sites/all/themes/cet/img/content-bg-figure-combo-3-right.png) no-repeat right 0;
	min-height: 470px;
}

/* whats-in-resource */
.page-teachersresource .main-content {
	background: url(/sites/all/themes/cet/img/content-bg-figure-combo-2-left.png) no-repeat 0 0;
}
.page-teachersresource .main-content .main-inner {
	background: url(/sites/all/themes/cet/img/content-bg-figure-combo-2-right.png) no-repeat right 0;
	min-height: 470px;
}

/* page-readandrespond */
.page-readandrespond .main-content {
	background: url(/sites/all/themes/cet/img/content-bg-figure-combo-1-left.png) no-repeat 0 0;
}
.page-readandrespond .main-content .main-inner {
	background: url(/sites/all/themes/cet/img/content-bg-figure-combo-1-right.png) no-repeat right 0;
	min-height: 470px;
}

/* indenting for the section images */
.page-whats-in-resource .main-content .breadcrumb,
.page-whats-in-resource .main-content .page-header,
.page-whats-in-resource .main-content .view-header,
.page-teachersresource .main-content .breadcrumb,
.page-teachersresource .main-content .page-header,
.page-teachersresource .main-content .view-header,
.page-readandrespond .main-content .breadcrumb,
.page-readandrespond .main-content .page-header,
.page-readandrespond .main-content .view-header {
	padding-left: 160px;
	padding-right: 320px;
}
.page-whats-in-resource .main-content .view-header,
.page-teachersresource .main-content .view-header,
.page-readandrespond .main-content .view-header {
	min-height: 75px;
	position: relative;
	overflow: hidden;
	padding-bottom: 5px;
}
.page-whats-in-resource .main-content .view-header *,
.page-teachersresource .main-content .view-header *,
.page-readandrespond .main-content .view-header * {
	font-size: 14px;
}
.page-whats-in-resource .main-content .view-header .btn,
.page-teachersresource .main-content .view-header .btn,
.page-readandrespond .main-content .view-header .btn {
	font-size: 10px;
}

/* resource item description */
.node-type-resource-item-description .resource-img {
	float: right;
	margin: 0 0 10px 10px;
}

/* download-all link */
.download-all {
	position: absolute;
	right: 160px;
	top: 15px;
}
.download-all .btn {
	float: right;
}

/* ros list styles */
.ros-list-view .views-row {
	clear: both;
	padding-bottom: 5px;
	overflow: hidden;
	position: relative;
}
.ros-list-view .view-content {
	padding-left: 80px;
	padding-right: 160px;
}
.ros-list-view .row-img {
	display: inline;
}
.ros-list-view .row-img  {
	display: inline-block;
	float: left;
	width:140px;
	min-height: 40px;
	margin: 0 20px 10px 0;
}
.ros-list-view .row-img img {
	display: inline-block;
	float: left;
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #ffffff, #8ad4ca);
	background-image: -ms-linear-gradient(top, #ffffff, #8ad4ca);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#8ad4ca));
	background-image: -webkit-linear-gradient(top, #ffffff, #8ad4ca);
	background-image: -o-linear-gradient(top, #ffffff, #8ad4ca);
	background-image: linear-gradient(top, #ffffff, #8ad4ca);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffffe', endColorstr='#8ad4ca', GradientType=0);
  	-webkit-box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.6);
       -moz-box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.6);
          	box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.6);
}
.ros-list-view .row-bd {
	overflow: hidden;
	padding-right: 160px;
}
.ros-list-view .row-bd h2,
.ros-list-view .row-bd h2 a {
	font-size:19px;
	color:#000;
	text-decoration: none;
	line-height: 26px;
	margin: 0 0 6px;
}
.ros-list-view .controls {
	position: absolute;
	right: 0;
	top: 10px;
}
.ros-list-view .controls .btn {
	float: right;
	clear: both;
	margin-bottom: 6px;
}

/* forms
-------------------------------------------------- */
.form-required {
	color: #990033;
}
.ros-purchase .form-wrapper {
	width: 500px;
}
.ros-purchase #edit-header label,
.ros-purchase #edit-header .controls {
	width: 100%;
	text-align: left;
	margin: 0;
	padding-left: 0;
}
.ros-purchase #edit-order .form-type-textfield {
	clear: left;
}
.ros-purchase #edit-order .controls {
	padding-left: 0;
}
.ros-purchase #edit-order {
	padding: 20px 10px 10px;
	background: #048ea4;
	color: #fff;
	margin: -20px 0 20px;
  	-webkit-border-radius: 6px;
       -moz-border-radius: 6px;
          	border-radius: 6px;
}
.ros-purchase #edit-order legend {
	border: none;
}
.ros-purchase #edit-order .fieldset-legend {
	display: block;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	bottom: -25px;
	bottom: 0\9;
	color: #fff;
}
.ros-purchase #edit-order .ui-spinner-buttons {
	top: -4px\9 !important;
	*top: 1px !important;
}
.ros-purchase #edit-order .form-item,
.ros-purchase #edit-order .form-item-resource-count,
.ros-purchase #edit-order .controls,
.ros-purchase #edit-order .form-item-resource-price,
.ros-purchase #edit-order .form-type-textfield,
.ros-purchase #edit-order .form-item-freight-price {
	width: auto !important;
	display: inline-block;
	margin: 0;
	float: left;
	position: relative;
}
.ajax-progress {
	position: absolute;
	top: 5px;
	left: 5px;
	background: #fff;
	border: 1px solid #ccc;
	width: 100px;
	z-index: 100;
	color: #000;
	font-size: 12px;
	font-weight: bold;
  	-webkit-border-radius: 3px;
       -moz-border-radius: 3px;
          	border-radius: 3px;
  	-webkit-box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.2);
       -moz-box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.2);
          	box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.2);
}
.ros-purchase #edit-order .form-item-resource-count .form-text,
.ros-purchase #edit-order .form-type-textfield .form-text {
	width: 36px;
	margin-right: 10px;
	text-align: left !important;
  	-webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
          	border-radius: 4px 0 0 4px;

}
.ros-purchase #edit-order label {
	width: 354px;
	text-align: left;
}
.ros-purchase #edit-order #edit-freight-price {
	border-top: 1px solid #fff;
	width: 100% !important;
}
.ros-purchase #edit-order #edit-freight-price label,
.ros-purchase #edit-order #edit-gst-amount label,
.ros-purchase #edit-order #edit-total-amount label  {
	padding-left: 60px;
}
.ros-purchase #edit-resource-price,
.ros-purchase #edit-freight-price {
	border: 0;
	width: auto;
	background: none;
	color: #fff;
  	-webkit-border-radius: 0;
       -moz-border-radius: 0;
          	border-radius: 0;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}
.ros-purchase #edit-order .control-group {
	margin-bottom: 10px;
}
.ros-purchase #edit-order .form-item-freight-price,
.ros-purchase #edit-order #edit-gst-amount ,
.ros-purchase #edit-order #edit-total-amount,
.ros-purchase .form-item-telephone {
	margin-bottom: 0;
}
.ros-purchase .form-item-password,
.ros-purchase .form-item-password > .controls {
	margin: 0;
}
.ros-purchase .form-item-password input.password-confirm, 
.ros-purchase .form-item-password input.password-field {
	width: 206px;
}
.ros-purchase .confirm-parent, 
.ros-purchase .password-parent {
	clear: none;
}
.ros-purchase .password-strength {
	margin: 0;
}
.ros-purchase textarea {
	width: 306px !important \9;
}
.ros-purchase .form-type-checkbox label {
	padding-left: 200px;
	width: auto;
	text-align: left;
	width: 400px;
}
.ros-purchase .form-item {
	width: 100%;
}
.ros-purchase .btn {
	clear: both;
	float: left;
	margin: 10px 0 0 180px;
}
.ros-purchase .form-item-admin-email,
.ros-purchase #edit-admin-note,
.ros-purchase .form-item-order-number,
.ros-purchase #edit-order-note,
.ros-purchase #edit-telephone-note {
	margin: 0;
}
.ros-purchase #edit-order-note {
	top: -10px;
	position: relative;
}

.ros-purchase #edit-admin-note label,
.ros-purchase #edit-order-note label, 
.ros-purchase #edit-already-logged-in label, 
.ros-purchase #edit-street-address-note label, 
.ros-purchase #edit-telephone-note label {
	padding-left: 180px;
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #666;
}
.ros-purchase #edit-resource-price .controls > div,
.ros-purchase .form-type-item .controls > div,
.ros-purchase #edit-freight-price .controls > div,
.ros-purchase #edit-gst-amount .controls > div, 
.ros-purchase #edit-total-amount .controls > div {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 6px 0 0 7px;
	height: 20px;
}
.ros-purchase .form-type-password-confirm > .controls {
	padding-left: 0;	
}
.ros-purchase .form-type-password-confirm .password-parent {
	*margin-right: -200px;	
}

/* node type artive and multiple files
-------------------------------------------------- */
.node-type-page .main-content .main-inner,
.node-type-article .main-content .main-inner,
.node-type-page-with-multiple-files .main-content .main-inner,
.page-ros-purchase .main-content .main-inner,
.page-user .main-content .main-inner,
.page-interactive-whiteboard-resources .main-content .main-inner {
	padding-left: 160px;
	padding-right: 160px;
}

/* interactive whiteboards
-------------------------------------------------- */
.glossary span {
	border-bottom: 1px dotted #8ad4c9;
}
.focus span,
.metaphor span,
.simile span {
	border-bottom: 1px dotted #ffce86;
}
.glossary.active span {
	background: #8ad4c9;
}
.focus.active span,
.metaphor.active span,
.simile.active span {
	background: #ffce86;
}
.popover {
	border: none;
   	-webkit-border-radius: 0;
       -moz-border-radius: 0;
          	border-radius: 0;
 	-webkit-box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.2);
       -moz-box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.2);
          	box-shadow: 6px 6px 8px rgba(4, 92, 135, 0.2);	
}
.popover-glossary {
	background: #8ad4c9;
}
.popover-glossary.top .arrow:after {
	border-top-color: #8ad4c9;
}
.popover-glossary.right .arrow:after {
	border-right-color: #8ad4c9;
}
.popover-glossary.bottom .arrow:after {
	border-bottom-color: #8ad4c9;
}
.popover-glossary.left .arrow:after {
	border-left-color: #8ad4c9;
}
.popover-focus,
.popover-metaphor,
.popover-simile  {
	background: #ffce86;
}
.popover-focus.top .arrow:after,
.popover-metaphor.top .arrow:after,
.popover-simile.top .arrow:after {
	border-top-color: #ffce86;
}
.popover-focus.right .arrow:after,
.popover-metaphor.right .arrow:after,
.popover-simile.right .arrow:after {
	border-right-color: #ffce86;
}
.popover-focus.bottom .arrow:after,
.popover-metaphor.bottom .arrow:after,
.popover-simile.bottom .arrow:after {
	border-bottom-color: #ffce86;
}
.popover-focus.left .arrow:after,
.popover-metaphor.left .arrow:after,
.popover-simile.left .arrow:after {
	border-left-color: #ffce86;
}
.popover-focus,
.popover-metaphor,
.popover-simile {
	z-index: 1000;	
}
.popover-glossary {
	z-index: 1010	
}
.popover-title {
	background: none;
	border-bottom: none;
	color: #58595b;
	font-style: italic;
	font-size: 15px;
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	padding: 20px 20px 5px;
}
.node-interactive-whiteboard {
	padding: 23px;
	margin: 0 80px;
	background-color: #006089;
	background-image: -moz-linear-gradient(top, #006089, #7dc7c2);
	background-image: -ms-linear-gradient(top, #006089, #7dc7c2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#006089), to(#7dc7c2));
	background-image: -webkit-linear-gradient(top, #006089, #7dc7c2);
	background-image: -o-linear-gradient(top, #006089, #7dc7c2);
	background-image: linear-gradient(top, #006089, #7dc7c2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006089', endColorstr='#7dc7c2', GradientType=0);
}
.has-acknowledgement {
	padding-bottom: 10px;
}
.node-interactive-whiteboard .field-name-field-acknowledgement {
	padding: 10px 0 0;
}
.node-interactive-whiteboard .field-name-field-acknowledgement p:last-child {
	margin-bottom: 0;
}
.node-interactive-whiteboard .iwb-top-img {
	overflow: hidden;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right top;
  	-webkit-border-radius: 10px;
       -moz-border-radius: 10px;
          	border-radius: 10px;
}
.node-interactive-whiteboard .iwb-bd {
	position: relative;
	background-color: none;
	background-repeat: no-repeat;
	background-position: right bottom;
	padding: 80px 57px;
}
.iwb-content-type-poem .node-interactive-whiteboard .iwb-bd {
	padding: 80px 137px;
}
.node-interactive-whiteboard .field-name-field-country {
	position: absolute;
	top: 0;
	left: 57px;
	color: #fff;
	font-size:18px;
	line-height: 22px;
	text-transform: uppercase;
	background: #006089;
	padding: 3px 34px 10px;
}
.node-interactive-whiteboard h1 {
	color: #000;
	font-size: 50px;
	margin: 0;
	line-height: 1;
}
.node-interactive-whiteboard .author {
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 20px;
}
.node-interactive-whiteboard .popover-content {
	color: #58595b;
	font-size: 14px;
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	padding: 0 20px 20px;
}
.node-interactive-whiteboard .field-name-field-body {
	font-size: 18px;
	line-height: 25px;
}
.node-interactive-whiteboard .field-name-field-body .field-items {
	padding-left: 20px;	
}
.iwb-content-type-story .node-interactive-whiteboard .field-name-field-body p {
	margin: 0;
	text-indent: 30px;
}
.iwb-content-type-story .node-interactive-whiteboard .field-name-field-body p.no-indent {
	text-indent: 0;
}
.iwb-content-type-story .node-interactive-whiteboard .field-name-field-body .popover,
.iwb-content-type-poem .node-interactive-whiteboard .field-name-field-body .popover {
	text-indent: 0;
	line-height: 18px;
}
.node-interactive-whiteboard .field-name-field-country,
.node-interactive-whiteboard .field-name-field-author,
.node-interactive-whiteboard .field-name-field-body {
	z-index: 20;
}
.node-interactive-whiteboard .field-name-field-background-image {
	position: absolute;
	bottom: 10px;
	right: 0;
	z-index: 10;
}
.node-interactive-whiteboard .field-name-field-upper-background-image {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}
[class*="iwb-content-span"] {
	float: none;
	min-height: auto;
	margin: 0;
}
.iwb-content-span8 .field-name-field-body {
  width: 620px;
}

.iwb-content-span7 .field-name-field-body {
  width: 540px;
}

.iwb-content-span6 .field-name-field-body {
  width: 460px;
}

.iwb-content-span5 .field-name-field-body {
  width: 380px;
}

.iwb-content-span4 .field-name-field-body {
  width: 300px;
}

.iwb-content-span3 .field-name-field-body {
  width: 220px;
}

.iwb-content-span2 .field-name-field-body {
  width: 140px;
}

.iwb-content-span1 .field-name-field-body {
  width: 60px;
}

.iwb-content-offset4 .field-name-field-body {
  margin-left: 340px;
}

.iwb-content-offset3 .field-name-field-body {
  margin-left: 260px;
}

.iwb-content-offset2 .field-name-field-body {
  margin-left: 180px;
}

.iwb-content-offset1 .field-name-field-body {
  margin-left: 100px;
}
.node-interactive-whiteboard .field-name-field-body .acknowledgement,
.node-interactive-whiteboard .field-name-field-body .acknowledgement {
	font-size: 12px !important;
	padding-top: 50px !important;
	text-indent: 0 !important;
}

/* footer
-------------------------------------------------- */
.footer {
	border: none;
	margin: 0;
	padding: 0 0 100px;
	position: relative;
}
.front .footer {
	background: url(/sites/all/themes/cet/img/home-footer-graphic.png) no-repeat 0 0;
	height: 226px;
}
.front .footer .nav {
	margin: 110px 0 0 380px;
}
.footer .nav {
	margin: 20px 0 0 160px;
}
.footer .nav li {
	display: inline-block;
	float: left;
	border-right: 1px solid #045c87;
	line-height: 12px;
	padding: 0 10px;
}
.footer .nav li.first {
	padding-left: 0;
}
.footer .nav li.last {
	border: none;
	padding-right: 0;
}
.footer .nav a {
	font-family: "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #045c87;
}
.footer .nav a:hover {
	background: none;
}

/* misc
-------------------------------------------------- */
.hidden,
#block-user-login .form-required,
.front .sidebar-second .view-video-block header,
.footer .block-title {
	position: absolute; 
	left: -10000px; 
	top: auto; 
	width: 1px; 
	height: 1px; 
	overflow: hidden;
}
.modal-backdrop {
	*display: none;
}
